@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Take the <em>g.o.o.g.s.t.e.r.</em> news survey</p>
    <p>The purpose of this survey is to obtain data regarding the news coverage of the world.</p>
    <p>No personal information is collected.</p>

    <a class="btn btn-primary" href="/Tests" role="button">Take me to the survey</a>
</div>
