@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There is not a lot to say about this site's privacy policy. 
    <br />However, keep in mind, no data other than the responses given are collected.</p>
